* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: #25415a;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.class {
    display: flex;
    margin: 0.2rem;
}

.div {
    display: flex;
    margin: 0.2rem;
}

.item-count {
    margin: 0 0 0 0.1em;
    font-size: 1.5em;
    align-self: center;
}

.class-button, .button {
    width: 130px;
    max-height: 2rem;
    color: #000000;
    border: 1px solid;
    border-radius: 3px;
    padding: 0.5em;
    font-weight: bold;
    margin-right: 1em;
}

button {
    width: 2em;
}

input[type="text"] {
    outline: none;
    border: none;
    width: 3em;
    text-align: center;
    background-color: #416d93;
    font-size: 1em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
    /* color: #f6f6f1; */
}

.plus, .minus {
    font-size: 1em;
    font-weight: bold;
    background-color: #6295c2;
    border: none;
    border: 1px solid;
    cursor: pointer;
}

/* .plus:hover, .minus:hover {
    transition-duration: 0.5s;
    background-color: #76addd;
} */

.minus {
    border-radius: 5px 0px 0px 5px;
}

.plus {
    border-radius: 0px 5px 5px 0px;
}


.dk {
    background-color: #c41e3a;
}

.druid {
    background-color: #ff7c0a;
}

.hunter {
    background-color: #aad372;
}

.mage {
    background-color: #3fc7eb;
}

.paladin {
    background-color: #f48cba;
}

.priest {
    background-color: #ffffff;
}

.rogue {
    background-color: #fff468;
}

.shaman {
    background-color: #0070dd;
}

.warlock {
    background-color: #9482c9;
}

.warrior {
    background-color: #c69b6d;
}